@page
@model BEASTAdmin.UI.Pages.VehicleType.UpsertModel
@{
	ViewData["Title"] = "VehicleType Administration";
}

@section Styles
{
<link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
<link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css" />
}

@section Scripts
{
<script src="~/plugins/moment.js/moment.min.js"></script>
<script src="~/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/plugins/summernote/summernote-bs4.min.js"></script>

<script>
	$(document).ready(function () {
		$('.NoteArea').summernote(
			{
				height: 150
			}
		);

		$('.custom-file-input').on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).next('.custom-file-label').html(fileName);
		});
	});
</script>

<partial name="_ValidationScriptsPartial" />
}

@section Breadcrumb
{
<li class="breadcrumb-item"><a asp-page="/Index" class="breadcrumb-link">Home</a></li>
	<li class="breadcrumb-item"><a asp-page="/Vehicle/VehicleType/List" asp-route-c="vehicleType" asp-route-p="vehicleTypel" class="breadcrumb-link">VehicleType List</a></li>
<li class="breadcrumb-item active">@ViewData["Title"]</li>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		@Html.Raw(Model.ErrorMessage)
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@Html.Raw(Model.SuccessMessage)
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="post" enctype="multipart/form-data">
	<input asp-for="VehicleType.Id" type="hidden" />
	<input asp-for="VehicleType.ImageUrl" type="hidden" />

	<div class="row">
		<div class="col-6">
			<div class="form-group mb-3">
				<label asp-for="VehicleType.Name" class="control-label"></label>
				<input asp-for="VehicleType.Name" class="form-control" />
				<span asp-validation-for="VehicleType.Name" class="small text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="VehicleType.UnitPricePerKm" class="control-label"></label>
				<input asp-for="VehicleType.UnitPricePerKm" class="form-control" />
				<span asp-validation-for="VehicleType.UnitPricePerKm" class="small text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="VehicleType.WaitingTimeCostPerMin" class="control-label"></label>
				<input asp-for="VehicleType.WaitingTimeCostPerMin" class="form-control" />
				<span asp-validation-for="VehicleType.WaitingTimeCostPerMin" class="small text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="VehicleType.ImageName" class="control-label"></label>
				<input asp-for="VehicleType.ImageName" class="form-control" />
				<span asp-validation-for="VehicleType.ImageName" class="small text-danger"></span>
			</div>
		</div>

		<div class="col-6">
			<div class="form-group mb-3">
				<label asp-for="VehicleType.Descriptions" class="control-label"></label>
				<textarea asp-for="VehicleType.Descriptions" class="form-control NoteArea"></textarea>
				<span asp-validation-for="VehicleType.Descriptions" class="small text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="VehicleTypeImage" class="control-label"></label>

				@if (!string.IsNullOrEmpty(Model.VehicleType.Name))
				{
					<div class="mb-1"><a href="@Model.ImageURL" target="_blank">Current image of @Model.VehicleType.Name</a></div>
				}

				<div class="custom-file">
					<input asp-for="VehicleTypeImage" class="form-control custom-file-input" data-val-required="false" />
					<label class="custom-file-label">Click here to select picture</label>
					<div class="small">(Recommended Type: jpg/png, Size: 100 KB, Dimension: 320 X 200)</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<input type="submit" value="@(string.IsNullOrEmpty(Model.VehicleType.Id) ? "Create Vehicle Type" : "Update Vehicle Type")" class="btn btn-success me-2" />
			<a asp-page="/Vehicle/VehicleType/List" asp-route-c="vehicleType" asp-route-p="vehicleTypel" class="btn btn-success">Back to List</a>
		</div>
	</div>
</form>