@page
@model BEASTAdmin.UI.Pages.VehicleModel.VehicleModelUpsert
@{
	ViewData["Title"] = "Vehicle Model Entry";
}

@section Styles
{
<link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
<link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css" />
}

@section Scripts
{
<script src="~/plugins/moment.js/moment.min.js"></script>
<script src="~/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/plugins/summernote/summernote-bs4.min.js"></script>

<script>
	$(document).ready(function () {
		$('.NoteArea').summernote(
			{
				height: 150
			}
		);

		$('.custom-file-input').on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).next('.custom-file-label').html(fileName);
		});
	});
</script>

<partial name="_ValidationScriptsPartial" />
}

@section Breadcrumb
{
<li class="breadcrumb-item"><a asp-page="/Index" class="breadcrumb-link">Home</a></li>
	<li class="breadcrumb-item"><a asp-page="/Vehicle/VehicleModel/List" asp-route-c="VehicleModel" asp-route-p="VehicleModell" class="breadcrumb-link">Vehicle Model List</a></li>
<li class="breadcrumb-item active">@ViewData["Title"]</li>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		@Html.Raw(Model.ErrorMessage)
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@Html.Raw(Model.SuccessMessage)
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="post" enctype="multipart/form-data">
	<input asp-for="VehicleModel.Id" type="hidden" />
	

	<div class="row">
		<div class="col-12">
			<div class="form-group mb-3">
				<label class="control-label">Name</label>
				<input asp-for="VehicleModel.Name" class="form-control" />
				<span asp-validation-for="VehicleModel.Name" class="small text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="control-label">Brand</label>
				<select asp-for="VehicleModel.VehicleBrandId" class="form-control" asp-items="@Model.SelectList">
					<option value="0">Select Brand</option>
				</select>
				<span asp-validation-for="VehicleModel.VehicleBrandId" class="small text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label class="control-label">Year</label>
				<input asp-for="VehicleModel.Year" class="form-control" />
				<span asp-validation-for="VehicleModel.Year" class="small text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label class="control-label">Cubic Capacity</label>
				<input asp-for="VehicleModel.CubicCapacity" class="form-control" />
				<span asp-validation-for="VehicleModel.CubicCapacity" class="small text-danger"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<input type="submit" value="@(string.IsNullOrEmpty(Model.VehicleModel.Id)  ? "Create Vehicle Model" : "Update Vehicle Model")" class="btn btn-success me-2" />
			<a asp-page="/Vehicle/VehicleModel/VehicleListModel" asp-route-c="VehicleModel" asp-route-p="VehicleModell" class="btn btn-success">Back to List</a>
		</div>
	</div>
</form>