@page
@model BEASTAdmin.UI.Pages.Passenger.ListModel
@inject IConfiguration _config

@{
	ViewData["Title"] = "Passenger List";
}

@section Breadcrumb
{
<li class="breadcrumb-item"><a asp-page="/Index" class="breadcrumb-link">Home</a></li>
<li class="breadcrumb-item active">@ViewData["Title"]</li>
}
<div class="filter">
	<form method="post">
		<label>Status</label>
		<select asp-for="StatusId" asp-items="@Model.SelectList"><option value="0">All</option></select>
		<label class="control-label">City</label>
		<input asp-for="City" />
		<label class="control-label">Contact No</label>
		<input asp-for="ContactNo" />
		<button asp-page-handler="Filter" asp-route-c="passenger" asp-route-p="passengerP" class="btn bg-transparent"><i class="fas fa-search fa-2x"></i></button>
	</form>
</div>
@if (Model.Passengers.Count > 0)
{
	<form method="post">
		<div class="row mb-4">
			<div class="col-6 justify-content-start d-flex align-items-center">
				<a asp-page="/Passenger/Upsert" asp-route-c="passenger" asp-route-p="passengerP" class="btn btn-success"><i class="fa-solid fa-square-plus"></i>&nbsp;Create</a>
			</div>
			<div class="col-6 justify-content-end d-flex align-items-center">
				<input asp-for="StatusId" type="hidden" />
				<input asp-for="City" type="hidden" />
				<input asp-for="ContactNo" type="hidden" />
				<span class="me-2">Total Record(s): @Model.TotalRecords</span><button asp-page-handler="Export" class="btn"><i class="fa-solid fa-file-export"></i></button>
			</div>			
		</div>

		<table class="table table-bordered table-sm table-hover table-valign-middle mb-0">
			<thead class="thead-light text-center">
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Contact Number</th>
					<th>City</th>
					<th>Reviews</th>
					<th>Status</th>
					<th>Log</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody class="medium">
				@foreach (var passenger in Model.Passengers)
				{
					<tr>
						<td>@passenger.FirstName @passenger.LastName</td>
						<td>@passenger.Email</td>
						<td>@passenger.MobileNumber</td>
						<td>@passenger.City</td>
						<td>@passenger.Ratings.ToString("N")</td>
						<td class="text-end">
							@if (@passenger.SystemStatusName == "Success" || @passenger.SystemStatusName == "Approved")
							{
								<a class="btn btn-primary">@passenger.SystemStatusName</a>
							}
							else
							{
								<a class="btn btn-danger">@passenger.SystemStatusName</a>
							}
						</td>
						<td class="text-center">
							<a asp-page="/Passenger/PassengerRideHistory" asp-route-Id="@passenger.Id" asp-route-name="@passenger.FirstName @passenger.LastName" asp-route-c="Passenger" asp-route-p="PassengerP" class="btn btn-info">Ride</a>
							<a asp-page="/Passenger/PassengerPaymentHistory" asp-route-Id="@passenger.Id" asp-route-name="@passenger.FirstName @passenger.LastName" asp-route-c="Passenger" asp-route-p="PassengerP" class="btn btn-primary">Payment</a>
						</td>
						<td class="text-center">
							<a asp-page="/Passenger/Upsert" asp-route-Id="@passenger.Id" asp-route-c="passenger" asp-route-p="passengerP" class="btn btn-success"><i class="fas fa-edit"></i></a>
						</td>

						<td class="text-center">
							<button asp-page-handler="Delete" asp-route-Id="@passenger.Id" class="btn btn-success" onclick="return confirm('Are you sure you want to delete?')">
								<i class="fas fa-trash-alt"></i>
							</button>
						</td>
					</tr>
				}

			</tbody>
		</table>
	</form>

	@if (Model.TotalPages > 1)
	{
		int pageSize = Convert.ToInt32(_config["SiteSettings:PageSize"]);
		<div class="row mt-4">
			<div class="col-sm-8 overflow-auto">
				<ul class="pagination mb-0">
					@for (var i = 1; i <= Model.TotalPages; i++)
					{
						<li class="pagination-item @(i == Model.PageNumber ? "active" : "")">
							<a asp-page="/Passenger/List" asp-route-pagenumber="@i" asp-route-c="passenger" asp-route-p="passengerP" class="pagination-link">@i</a>
						</li>
					}
				</ul>
			</div>
			<div class="col-sm-4 align-self-center text-sm-right text-center">
				Showing @(((Model.PageNumber - 1) * pageSize) + 1) to @((Model.PageNumber * pageSize) > Model.TotalRecords ? Model.TotalRecords : (Model.PageNumber * pageSize)) of @Model.TotalRecords records.
			</div>
		</div>
	}
}
else
{
	<a asp-page="/Passenger/Upsert" asp-route-c="passenger" asp-route-p="passengeru" class="btn btn-success"><i class="fa-solid fa-square-plus"></i>&nbsp;Create</a>
	<div>There is no content to show.</div>
}
